@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lato:wght@400;700&display=swap');

/* Basic CSS without Tailwind directives */
* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-feature-settings: "rlig" 1, "calt" 1;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

.text-balance {
  text-wrap: balance;
  transition: linear;
}
